body{
    margin:0;
}

div{
    height:100vh;
    width:100vw;
}

@media only screen and (max-width:300px){
    div{
    background-color:pink;
    }
}

@media only screen and (min-width:300px) and (max-width:500px){
    div{
    background-color:orange;
    }
}

@media only screen and (min-width:500px){
    div{
    background-color:purple;
    }
}